@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 1100px;
    gap: 64px;
    font-family: 'Inter';

}

.app{
    background-color: #09090B;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.launch-item{
    background-color: #18181B;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.launch-month{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.launch-date, .alert-date, .history-date{
    font-size: 14px;
    font-weight: 140;
    color: #A1A1AA;
    padding-right: 20px ;
}

.launch-name{
    padding-left: 20px;
}

.lancamentos{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    margin: 20px;
}

.launch-header button{
    background-color: #BEF264;
    border-color: #BEF264;
    color: black;
    height: 42px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.launch-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-tab{
    padding-top: 40px;
}

.alert-button, .history-button{
    border-radius: 8px;
    height: 40px;
    width: 100%;
    background-color: #27272A;
    color: #E4E4E7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.history-name{
    text-decoration: underline;
    margin-bottom: -10px;
    font-size: 16px;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

.alert-message{
    font-size: 16px;
}

.alert-message{
    margin-bottom: -10px;
}

.alert-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}